@font-face {
    font-family: 'Myriad Pro';
url('fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
}

body {
    width: 1280px;
    margin: auto;
}

a:link {
    text-decoration: none;
    font-family: 'Myriad Pro';
}

div.logo {
    font-weight: 400;
    font-size: 80px;
    color: #4bcaff;
}

span.text-color-black {
    margin-left: 0px;
}

.text-color-black {
    color: #000000;
}

header {
    margin-top: 45px;
    margin-bottom: 45px;
}

li.nav-hover {
    display: inline;
    font-size: 24px;
    font-weight: 400;
}

ul.nav-menu {
    text-align: center;
    background-color: #35444f;
    padding: 20px;
}

a.text-color {
    color: white;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 40px;
    padding-right: 40px;
}

li.nav-hover:hover {
    background-color: #222f3a;
    padding-top: 21px;
    padding-bottom: 22px;
    border-style: solid;
    border-width: 0 1px;
    color: #818181;

}

.main-menu {
    display: flex;
}

.vert-bar {
    border-style: solid;
    border-width: 1px;
    width: 344px;
    height: 395px;
    margin-top: 30px;
    margin-right: 50px;

}

.central-img {
    border-style: solid;
    border-width: 1px;
    width: 885px;
    height: 529px;
    margin-top: 30px;
    text-align: center;
}

.logo-image {
    margin: 74px auto;
    width: 320px;
    height: 381px;
    transition: 0.8s;
}

.logo-image:hover {
    transform: scale(1.35);
}

div.vert-text {
    padding-left: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #495863;
}

div.vert-text:hover {
    background-color: #dbdbdb;
    padding-left: 50px;
    transition: 0.5s;
}

li.vert-hover {
    font-size: 27px;
    font-weight: 400;
    display: block;
}

ul.vert-bar {
    padding-left: 0px;
}

a.vert-text {
    color: #495863;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
}

.main-text {
    font-family: 'Myriad Pro';
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 815px;
    margin-left: 432px;
    margin-right: 35px;
    margin-top: 51px;
}

ul.nav-menu-bottom {
    background-color: #b4b7ba;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

li.nav-hover-bottom {
    display: inline;
    font-size: 28px;
    font-weight: 400;
}

a.text-color-bottom {
    color: #0c1927;
    padding-top: 21px;
    margin-bottom: 21px;
    margin-left: 15px;
    margin-right: 15px;
}

a.text-color-bottom:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 0px;

}

.footer {
    display: inline;
    font-size: 28px;
    font-weight: 400;

}

span {
    margin-left: 140px;
    font-family: 'Myriad Pro';
}

li.nav-hover:hover a {
    padding-left: 39px;
    padding-right: 39px;
}
